doctype html
html 
    head 
        title pop dance academy
        block scripts 
        block style    
    body 
        nav#navbar
            ul
                div#logo
                    img(src="/static/logo.png")
                    | Dance
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Class Info]
                li #[a(href="/Services") Services]
                li #[a(href="/contact") Contact Us]
        block content 
        footer#footer
            | made by JAINAM BHEDA 