extends base.pug
block scripts   
    script(src='/static/index.js')

block style     
    style 
        include ../static/style.css    

block content
    section#introSection
        div POP DANCE ACADEMY
        div.small Any Body Can Dance

    section#missionSection 
        h2 Our Services  
        div.card   
            h2 Classical
            div.card-box 
                div.img
                    img(src="/static/clasical.png") 
                div.content 
                    p Classical dance   

        div.card   
            h2 Hip Hop
            div.card-box 
                div.img
                    img(src="/static/hiphop.png") 

                div.content 
                    p HipHop Dance  
        div.card   
            h2 Ballet
            div.card-box 
                div.img
                    img(src="/static/Ballet.jpeg") 

                div.content 
                    p Ballet dance     

    section#sponsorsSection
        h2 Our Sponsors
        div#Sponsors  
            img(src="/static/Sponsor1.jpeg", alt="Sony Pictures",Class="Sponsor")
            img(src="/static/Sponsor2.png", alt="Sony Pictures",Class="Sponsor")
            img(src="/static/Sponsor3.jpeg", alt="Sony Pictures",Class="Sponsor")
            img(src="/static/Sponsor4.png", alt="Sony Pictures",Class="Sponsor")
            img(src="/static/Sponsor5.png", alt="Sony Pictures",Class="Sponsor")
            
