/* @import url('https://fonts.googleapis.com/css?family=lacquer&display=swap') */

/* *{
    margin:0;
    box-sizing: border-box;
    padding:0;
} */

#logo{
    display:flex;
    align-items: center;
    margin:0 14px;

}
#logo img{
    height:40px;
    filter:invert(1);


}
#navbar{
    background-color: #a81919;
    font-family: 'Lacquer';
    padding: 13px, 14px;
    
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
     /* justify-content: center; */
    align-items: center;
}
#navbar li{
    list-style: none;
    /* size: 50px; */
}
#navbar li a{ 
    color: bisque;
    font-size: 1.1rem;
   text-decoration: none;
    padding: 13px 30px;
    margin: auto;
    
    
}
#navbar li a:hover{
    color: rgb(216, 142, 142);  
}

#introSection{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    align-items: center;
    background: center/cover no-repeat url("/static/dance.jpg") ;
    height: 425px;
    background-color: rgb(5, 3, 3);
}
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}

#missionSection{
    height: 300px;
    background-color: #e8e7d8c7;
    /* width:65%; */
    /* margin:auto; */
}

#missionSection h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 12px;
}

.card{
    border:2px solid rgb(61, 4, 4);
    border-radius: 5px;
    width:28%;
    margin:20px 20px;
    height: 200px;
    display: inline-block;

    
}
.card h2{
    text-align: center;

}
.card-box{
    display:flex;
    /* flex-direction: column-reverse; */
    align-items: center;
    justify-content:space-between;
}
.img {
    height: 120px;;
     /* width: auto;  */
    padding: 0 14px;
    margin:5px 9px;
    filter: invert(0);
    align-items: center;
    justify-content: center;
}
.img img{
    height:inherit;
}

.content{
    padding: 0 10px;
}
.content p{
     font-size: 15px;
} 
#sponsorsSection{
    height: 300px;
    background-color: #b6b5a6c7;
}

#sponsorsSection h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 12px;
}

#Sponsors{
    height: 180px;
    max-width:1000px;
    margin:auto;
    /* padding: 12px; */
}

.Sponsor{
    height:80%;
    margin: 20px;
}

#footer{
    background-color: rgb(63, 58, 4);
    height: 60px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;

}

